  
  body h1{
    text-transform: uppercase;
    text-align: center;
  }

   /* demo style */
   #demo{
    padding: 10px;
    margin: 8px auto;
    /* margin-left: 20%; */
    /* text-align: center; */
    background-color: #badd85;
    text-transform: capitalize;
    /* display: inline-block; */
  }

  /* banner */
  .banner{
    min-height: 89vh;
    background-image: url(/img/Banner-pic.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  }

  ul {
    list-style-type: none;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    /* background-color: #4CAF50; */
    font-size: 30px;
  }

  .text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }