
/* Colors */
/* 
#6c4744
#c3a78a

#8f888a

#ded0b5

#919c99

*/




  body h1{
    text-transform: uppercase;
    /* text-align: center; */
  }

   /* demo style */
   #demo{
    padding: 10px;
    margin: 8px auto;
    background-color: #badd85;
    text-transform: capitalize;
  }

  /* banner */
  .banner{
    min-height: 89vh;
    background-image: url(/img/Banner-pic.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  }

  ul {
    list-style-type: none;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #6c4744;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  
  li a:hover:not(.active) {
    background-color: #919c99;
    color: white
  }
  
  .active {
    /* background-color: #4CAF50; */
    font-size: 27px;
  }

  .text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* social-apps */
  .social-apps{
    position: absolute;
    top: 92%;
    left: 94.4%;
    transform: translate(-50%, -50%);
  }

  /* social-icons */
  .social-icons{
    display: flex;
    justify-content: center;
  }
  .social-icons div{
    margin: 5px;
  }

  @media only screen and (max-width: 1100px) {
    .social-icons{
      position: absolute;
      right: 10px;
      margin-bottom: 0;
    }
  }

  /* fab */
  .banner-footer-icon{
    color: #919c99;
    transition: all .3s ease-out;
  }

  .banner-footer-icon:hover{
    color:  #717977;
  }